/* 字体库样式 */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m26i4l');
  src:  url('../fonts/icomoon.eot?m26i4l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?m26i4l') format('truetype'),
    url('../fonts/icomoon.woff?m26i4l') format('woff'),
    url('../fonts/icomoon.svg?m26i4l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-random:before {
  content: "\ea30";
}
.icon-arrow-left:before {
  content: "\ea40";
}


/* END字体库样式 */


/* 公共样式 */
html, body{
  height: 100%;
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  overflow-x: hidden;
}
.page{
  height: 100%;
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  color:#fff;
  font-size: 0.3rem;
  font-family: "Microsoft YaHei","微软雅黑","sans-serif";
}
.page i{
  text-align: center;
}
.btm-line{
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.show{
  display: block !important;
}
.hide{
  opacity:0 !important;
}
.disno{
  display: none !important;
}
/* 公共样式 */
